main.box
  section.base
    article.spanish
      h1
        | Sin sentido
      
      p
        span Jabberwocky, 
        | es el poema más famoso escrito por Lewis Carroll, un texto sin sentido acerca de la muerte de una fantástica criatura llamada 
        span "del Jabberwock".
      
      p
        span Jabberwocky 
        | es considerado uno de los más grandes poemas sin sentido escritos en Inglés. Su lenguaje lúdico y caprichoso ha dado palabras y neologismos como "galumphing" and "chortle" en inglés.
      div.poemContainer
          h2.poem
            | "Jabberwocky"

          div.image
            a(href="#")
              img(src="https://img.91ddcc.com/ue_14341_3709.jpg")
            div.by 
              | Jabberwock, interpretación de  
              a(href="#" title="John Tenniel") John Tenniel
              | .

          p.poem
            | 'Twas brillig, and the slithy toves
            br
            |  Did gyre and gimble in the wabe;
            br
            |  All mimsy were the borogoves,
            br
            |  And the mome raths outgrabe.

          p.poem
            | "Beware the Jabberwock, my son!
            br
            | The jaws that bite, the claws that catch!
            br
            | Beware the Jubjub bird, and shun
            br
            | The frumious Bandersnatch!"

          p.poem
            | He took his vorpal sword in hand:
            br
            | Long time the manxome foe he sought—
            br
            | So rested he by the Tumtum tree,
            br
            | And stood awhile in thought.

          p.poem
            | And as in uffish thought he stood,
            br
            | The Jabberwock, with eyes of flame,
            br
            | Came whiffling through the tulgey wood,
            br
            | And burbled as it came!

          p.poem
            | One, two! One, two! and through and through
            br
            | The vorpal blade went snicker-snack!
            br
            | He left it dead, and with its head
            br
            | He went galumphing back.
            br

          p.poem
            | "And hast thou slain the Jabberwock?
            br
            | Come to my arms, my beamish boy!
            br
            | O frabjous day! Callooh! Callay!"
            br
            | He chortled in his joy.

          p.poem
            | 'Twas brillig, and the slithy toves
            br
            | Did gyre and gimble in the wabe;
            br
            | All mimsy were the borogoves,
            br
            | And the mome raths outgrabe.

      p
        | Muchas de las palabras en el poema son neologismos lúdicos de la propia invención de Carroll, sin significado explícito previsto.
      
      p 
        | Cuando Alicia ha terminado de leer el poema que da sus impresiones:

      blockquote
        | ¡Parece muy bonito, pero es bastante difícil de entender! De alguna manera, llena mi cabeza con ideas — ¡sólo que no sé exactamente lo que son! De todos modos, alguien mató a algo: eso está claro.

      p
         | Esto puede o no ser un reflejo de las intenciones de Carroll para con sus lectores; el poema es, después de todo, parte de un sueño. En escritos posteriores se discutió un poco de su léxico, comentando que él no sabía el significado específico o el origen de algunas de las palabras; la ambigüedad lingüística y la incertidumbre en todo el libro y el poema, pueden ser el punto en sí mismo.
        
        
        
  
  section.cover
    article.english
      h1
        | Nonsense
      
      p
        span Jabberwocky, 
        | is the most famous poem written by Lewis Carroll a nonsense text about the killing of a fantastic creature called 
        span "the Jabberwock".
      
      p
        span Jabberwocky 
        | is considered one of the greatest nonsense poems written in English. Its playful, whimsical language has given English nonsense words and neologisms such as "galumphing" and "chortle".
       
      div.poemContainer
          h2.poem
            | "Jabberwocky"

          div.image
            a(href="#")
              img(src="http://www.thekinsky.com/wp-content/uploads/2014/09/6.TomFordforYSL2004.jpg")
            div.by 
              | The Jabberwock, as illustrated by 
              a(href="#" title="John Tenniel") John Tenniel
              | .

          p.poem
            | 'Twas brillig, and the slithy toves
            br
            |  Did gyre and gimble in the wabe;
            br
            |  All mimsy were the borogoves,
            br
            |  And the mome raths outgrabe.

          p.poem
            | "Beware the Jabberwock, my son!
            br
            | The jaws that bite, the claws that catch!
            br
            | Beware the Jubjub bird, and shun
            br
            | The frumious Bandersnatch!"

          p.poem
            | He took his vorpal sword in hand:
            br
            | Long time the manxome foe he sought—
            br
            | So rested he by the Tumtum tree,
            br
            | And stood awhile in thought.

          p.poem
            | And as in uffish thought he stood,
            br
            | The Jabberwock, with eyes of flame,
            br
            | Came whiffling through the tulgey wood,
            br
            | And burbled as it came!

          p.poem
            | One, two! One, two! and through and through
            br
            | The vorpal blade went snicker-snack!
            br
            | He left it dead, and with its head
            br
            | He went galumphing back.
            br

          p.poem
            | "And hast thou slain the Jabberwock?
            br
            | Come to my arms, my beamish boy!
            br
            | O frabjous day! Callooh! Callay!"
            br
            | He chortled in his joy.

          p.poem
            | 'Twas brillig, and the slithy toves
            br
            | Did gyre and gimble in the wabe;
            br
            | All mimsy were the borogoves,
            br
            | And the mome raths outgrabe.

      p
        | Many of the words in the poem are playful nonce words of Carroll's own invention, without intended explicit meaning.
      
      p 
        | When Alice has finished reading the poem she gives her impressions:

      blockquote
        | It seems very pretty, but it's rather hard to understand! Somehow it seems to fill my head with ideas—only I don't exactly know what they are! However, somebody killed something: that's clear, at any rate.

      p
         | This may reflect Carroll's intention for his readership; the poem is, after all, part of a dream. In later writings he discussed some of his lexicon, commenting that he did not know the specific meanings or sources of some of the words; the linguistic ambiguity and uncertainty throughout both the book and the poem may largely be the point.
         
      br
  section.handle